*{
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
      font-family: 'Mukta', sans-serif;
      
      
}

html{
      background-color: #f8ad3d;
}

header{
      /* background-image:url("/img/art-background-blue-sky-289649.jpg"); */
      /* background-size: cover; */
      display: flex;
      align-items: center;
      /* padding-top: 3%; */
      /* padding-bottom: 18%; */
      /* height: 80%; */
      /* background-position: 0% 70%; */
      background-color: hsla(0, 22%, 96%, 0.986) !important;
      border: 7px dashed #a8530d;

      

}

header img{
      /* margin-top: %; */
       /* margin-left: 2% ; */
      width:30%;
      font-size: 2.8rem;
      /* color: #301769d1; */
      /* text-emphasis-style: bold; */
        /* opacity: .6;   */
      
}
header nav{
      
       width:70%; 
      
      display: flex;
      justify-content: flex-end;
      
     
      
      

}
header nav a{
      font-size: 1.4rem;
      text-decoration: none;
      margin-right: 7%; 
      color:#975517;
      /* opacity: .9; */
     
}
header nav a:hover{
      font-size: 2.2rem;
      opacity: .9;
      color: white;
      border: 4px dashed #f8ad3d;
      background-color: rgb(168, 83, 13);
      padding: 0%;

}
section {
      margin: 6% auto;
      width: 80%;
      border: 7px dashed #a8530d;
      padding: 1%;
      background-color: #e77a23;
      line-height: 1.3;

}
section p{
      padding: 2% 6%;
      text-align: center;
      font-size: 1.7rem;
      border:3px dashed #f8ad3d;


}

section h2{
      margin-top: 3%;
      text-align: center;
      font-size: 3.5rem;
      color: #f3eded;
}
.section span{
      color: #4f292a;
      padding: 0%;
      margin: 0%;
}
 .hole{
       width: 80%;
       margin : 2% auto;
      border: 7px dashed #a8530d;
       
      display: flex;
      flex-wrap: wrap;
      background-color: #e77a23;
      justify-content: space-between;

}
.sixth{
      width: 28%;
      padding: 3%;
      border: 7px dashed #a8530d;
      margin:3%;
      background-color: #f8ad3d;
}
.sixth h4{
      text-align: center;
}
.sixth p{
      text-align: center;

}
span{
      font-size: 7rem;
      color: #50292a;
      padding-top:1%;
      display: flex;
      justify-content: center;
}

.container{
      padding: 1%;
      width: 70%;
      margin: 1% auto;
      display: flex;
      flex-wrap: wrap;
      /* align-items: center; */
       justify-content:space-between; 
      background-color: #e77923;
      border: 7px dashed #a8530d;
      
}
.container span{
      /* margin-bottom: 20%; */
      /* margin-left: 37%; */
      /* display: flex; */
      /* justify-content: center; */
       /* text-align: center; */
       margin: 0 auto;

}
.item{
      /* display: flex; */
      /* padding: 1%; */


      width:40%;
      /* margin: 6% 3%; */
      border: 7px dashed #a8530d;
      background-color:  #f8ad3d;
      display: flex;
      /* justify-content: center; */
       flex-direction: column; 
       /* align-items: center; */

}
.item:hover{
      border: 9px dashed #a8530d;
      width: 45%;
      background-color: #4f292a;

}
.item p{
      margin: 2% auto; 
      width: 60%;
      text-align: center;
      font-size: 1.1rem;
      /* text-align: left; */

}
.item h3{
      width:100%;
      font-size: 1.5rem;
      color: white;
      text-align: center;
       padding: 5%; 
      
}
.container .four{
      /* margin-top: 0; */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 3% 4%;
      

}
.container .five{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 6% 6%;

}
.container .six{
      /* margin-left: 5%; */
      display: flex;
      flex-wrap: wrap;
      justify-content:  space-between;
      /* margin-left: 5%; */
      margin: 6% 6%;

}


footer{
      padding: 5% 0;
      font-weight: 900;
      font-size: 2rem;
      text-align: center;
      /* padding-right: 9%; */
      margin-top: 3%;
      border: 7px dashed #a8530d;
      color: #50292a;
      background-color: hsla(0, 22%, 96%, 0.986);
}